# -*- mode: gitignore; -*-

# Emacs
#*~
# \#*\#
# .\#*
custom.el
custom_bkp.el
history
projects
recentf
bookmarks

/eln-cache/
/elpa/
/*_bkp/
/transient/
/auto-save-list/

lsp-sessions
.flycheck*
projectile-bookmarks.eld
projectile.cache
equake-persistent-display
