# -*- mode: gitignore; -*-

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Directory configuration
.dir-locals.el
.cache
/quelpa/
/elpa/
/eshell/history
/eshell/lastdir
/private/
/transient/

# Files configuration
.projectile
projectile.cache
projectile-bookmarks.eld
helm-adaptive-history
.org-id-locations
*_archive
*_flymake.*
flycheck_*.el
recentf
bookmarks
.lsp-session*
custom.el
package-quickstart.el
amx-items
proxy.el

# Temp
/old/
