# -*- mode: gitignore; -*-

# Emacs
#*~
# \#*\#
# .\#*
custom.el
custom_bkp.el
history
projects
recentf
bookmarks

/eln-cache/
/elpa/
/*_bkp/
/transient/
/auto-save-list/
/request/
/url/
/site-lisp/
/eaf/

lsp-sessions
.flycheck*
projectile-bookmarks.eld
projectile.cache
equake-persistent-display
org-roam.db
.org-id-locations
